.home {
    background-color: lavender !important;
    margin: 5px;
    padding: 5px;
  }

  .todolist {
    background-color: rebeccapurple !important;
    color: black;
    margin: 5px;
    padding: 5px;
  }

  h1 {
    color: burlywood;
    font-family: fantasy;
  }

  .addtodo {
    background-color: rgb(88, 49, 155) !important;
    color: rgb(232, 209, 227);
    margin: 5px;
    padding: 5px;
  }
  .todoitem {
    background-color: lavender !important;
    margin: 10px;
    padding: 5px;
  }